<%- include('layout/header') %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="glass-card p-5 rounded-4 shadow-lg"
                    style="background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.1);">
                    <h2 class="fw-bold text-center mb-4"><span class="text-danger">🎬</span> CINEBOOK</h2>
                    <h3 class="fw-bold text-center mb-4"><span class="text-danger">Register</span>Here</h3>

                    <form action="/registration" method="POST">
                        <div class="mb-3">
                            <label class="form-label text-black
                            ">Username</label>
                            <input type="text" name="username" class="form-control bg-dark text-white
                             border-secondary"
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-black
                            ">Email</label>
                            <input type="email" name="email" class="form-control bg-dark text-white
                             border-secondary"
                                required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-black
                            ">Password</label>
                            <input type="password" name="password"
                                class="form-control bg-dark text-white
                                 border-secondary" placeholder="*******" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-black
                            ">Confirm Password</label>
                            <input type="password" name="conf_password"
                                class="form-control bg-dark text-white
                                 border-secondary" placeholder="*******" required>
                        </div>
                        <a href="/login" class="text-black
                         text-decoration-none fw-bold fs-6 redirectlogin mb-3">Already have an account?
                            Login here</a>
                        <button type="submit" class="btn btn-danger w-100 fw-bold mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/footer') %>